

.container {
  max-width: 500px; 
  margin: 0 auto; /* Centers the container */
  padding: 20px;
  text-align: center; /* Centers the text inside the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.261); 
	background: #444343;
  border-radius: 8px; 
}


.flip-card {
  background-color: transparent;
  width: 300px; 
  height: 192px; 
  perspective: 1000px;
  color: white;
  margin: 20px auto; /* Centers the flip-card horizontally */

}

.heading_8264 {
  position: absolute;
  letter-spacing: .2em;
  font-size: 0.5em;
  top: 2em;
  left: 18.6em;
}

.logo {
  position: absolute;
  top: 6.8em;
  left: 11.7em;
}

.chip {
  position: absolute;
  top: 2.3em;
  left: 1.5em;
}

.contactless {
  position: absolute;
  top: 3.5em;
  left: 12.4em;
}

.number {
  font-weight: bold;
  font-size: 1.2em; 
  top: 15em; 
  left: 3em;
}

.valid_thru {
  position: absolute;
  font-weight: bold;
  top: 10.8em;
  font-size: 0.60em;
  left: 2.3em;
}

.date_8264 {
  position: absolute;
  font-weight: bold;
  font-size: 0.9em;
  top: 7.8em;
  left: 1.6em;
}

.name {
  position: absolute;
  font-weight: bold;
  font-size: 0.9em;
  top: 10.1em;
  left: 0.5em;
}

.strip {
  position: absolute;
  background-color: black;
  width: 15em;
  height: 1.5em;
  top: 2.4em;
  background: repeating-linear-gradient(
    45deg,
    #303030,
    #303030 10px,
    #202020 10px,
    #202020 20px
  );
}

.mstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 8em;
  height: 1.5em;
  top: 5em;
  left: .8em;
  border-radius: 2.5px;
}

.sstrip {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 4.1em;
  height: 1.5em;
  top: 5em;
  left: 10em;
  border-radius: 2.5px;
}

.code {
  font-weight: bold;
  text-align: center;
  margin: .2em;
  color: black;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
}
.flip-card-front {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
}

.flip-card-back {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 2px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
  background-color: #171717;
  transform: rotateY(180deg);
}

/* Style for the heading */
h1 {
  color: #ffffff;
  font-family: poppins;
  text-align: center;
  margin-bottom: 20px;
}

/* Style for the paragraphs displaying passenger and price information */
p {
  font-family: poppins;
  margin-left: 20px;
  color: #ffffff;

}

/* Style for input fields */
input[type="text"] {
  width: 300px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; 
}

/* Styles for the form */
form {
  margin-left: 20px;
}

body{
  width: 100%;
  height: 100%;
  /* Add your background pattern here */
  background: rgba(29, 31, 32, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
  
  background-size: 11px 11px;

  
}