.section {
  position: relative;
  height: 100vh;
  margin: 8%;
}

body {
  width: 100%;
  height: 100%;
  background: rgba(29, 31, 32, 0.904)
    radial-gradient(rgba(255, 255, 255, 0.712) 10%, transparent 1%);
  background-size: 11px 11px;
}

#booking {
  font-family: poppins;
}

.booking-form {
  position: relative;
  max-width: 768px;
  width: 100%;
  margin: auto;
  background: #444343;
}

.booking-form > .booking-bg {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 310px;

  --s: 100px;
  --c1: #f8b195;
  --c2: #355c7d;

  --_g: var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%,
    var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%,
    var(--c1) 76% 84%, var(--c2) 86% 94%;
  background: radial-gradient(
      100% 100% at 100% 0,
      var(--c1) 4%,
      var(--_g),
      #0008 96%,
      #0000
    ),
    radial-gradient(
        100% 100% at 0 100%,
        #0000,
        #0008 4%,
        var(--_g),
        var(--c1) 96%
      )
      var(--c1);
  background-size: var(--s) var(--s);
}

.booking-form > form {
  margin-left: 310px;
  padding: 30px;
}

.booking-form .form-header {
  margin-bottom: 25px;
}

.booking-form .form-header h2 {
  margin: 0;
  font-weight: 400;
  color: #f4f3f1;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

.booking-form .form-group {
  position: relative;
  margin-bottom: 20px;
  color: #e02e40;
}

.booking-form .form-control {
  background-color: transparent;
  height: 65px;
  padding: 0px;
  padding-top: 15px;
  border-radius: 0px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: #020202;
  border: 0px;
  font-size: 16px;
  font-weight: 700;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize;
  border-bottom: 2px solid #020202;
}

.booking-form .form-control::-webkit-input-placeholder {
  color: #f4f3f1(255, 255, 255, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
  color: #f4f3f1(255, 255, 255, 0.3);
}

.booking-form .form-control::placeholder {
  color: #f4f3f1(255, 255, 255, 0.3);
}

.booking-form input[type="date"].form-control:invalid,
.booking-form input[type="time"].form-control:invalid {
  color: #f4f3f1(255, 255, 255, 0.3);
}

.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control option {
  color: #1a1b1d;
}
.booking-form select.form-control option::after {
  color: #ffffff;
}
.booking-form select.form-control + .select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
}

.booking-form select.form-control + .select-arrow:after {
  content: "\279C";
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #cecccd;
  font-size: 14px;
}

.booking-form select.form-control ~ .form-label {
  opacity: 1;
  color: #f4f3f1(255, 255, 255, 0.3);
}

.booking-form .form-label {
  color: #f4f3f1;
  font-weight: 700;
  line-height: 24px;
  height: 24px;
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 26px;
  opacity: 0;
  text-transform: capitalize;
  pointer-events: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.booking-form .form-group:not(.input-not-empty) .form-control:not(:focus) {
  color: #f4f3f1;
}

.booking-form input[type="date"].form-control + .form-label,
.booking-form input[type="time"].form-control + .form-label {
  color: white;
  opacity: 1;
}

.booking-form input[type="date"].form-control:focus + .form-label,
.booking-form input[type="time"].form-control:focus + .form-label {
  opacity: 1;
  top: 0px;
  color: #f4f3f1 !important;
}

.booking-form .form-group.input-not-empty .form-label {
  opacity: 1;
  top: 0px;
  color: #f4f3f1 !important;
}

.booking-form .form-btn {
  margin-top: 25px;
}

.booking-form .submit-btn {
  color: #e7e6e2;
  background-color: #ff214f;
  font-weight: 700;
  height: 55px;
  padding: 10px 35px;
  font-size: 18px;
  border-radius: 0px;
  width: 100%;
  border: 2px solid #c63140;
}
.booking-form .submit-btn:hover {
  background-color: #ea2135;
  transition: background-color 0.4s ease;
}
@media only screen and (max-width: 480px) {
  .booking-form > .booking-bg {
    display: none;
  }
  .booking-form > form {
    margin-left: 0px;
  }
}

p {
  color: #e02e40;
}
